body{
    width: 100%;
    height: 100%;
}
.banner-bg{
    background-color: rgb(230, 252, 244);
}

.col-md-2{
    background-color: rgb(230, 252, 244);
    border-radius: 10px;
}
.col-md-2:hover{
    box-shadow: 5px 5px 5px 5px lightgray;
    background-color: white;
}

.about{
    margin-bottom: 50px;
}

.buttons{
    border-radius: 50px;
    width: 120px;
    height: 40px;
    padding: 5px;
}
