body{
    width: 100%;
    height: 100%;
}
.banner-bg{
    background-color: rgb(237, 250, 245);
}

.about-card{
    background-color: rgb(237, 250, 245);
    border-radius: 10px;
}
.about-card:hover{
    box-shadow: 5px 5px 20px 5px lightgray;
    background-color: white;
    transform: translate(0, -5px);
}

.about{
    margin-bottom: 50px;
    margin-top: 100px;
}

.buttons{
    border-radius: 50px;
    width: 120px;
    height: 40px;
    padding: 5px;
}

.card{
    border: none;
    box-shadow: 5px 5px 20px 5px lightgrey;
    border-radius: 15px;
}

.card-footer{
    border: none;
    background: none;
}
.icons{
    width: 30px;
    height: 30px;
}
.lorem{
    font-size: x-large;
}

#footer-section{
    background-color: black;
}
.fp{
    font-size: x-large;
}